* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 750px;
    padding: 20px;
    border: 10px solid navajowhite;
    margin: 40px auto;
}

button {
    display: inline-block;
    background-color: navajowhite;
    padding: 7px;
    margin: 10px;
}