* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

img {
    display: block;
    width: 750px;
    padding: 20px;
    border: 10px solid navajowhite;
    margin: 40px auto;
}

button {
    background-color: navajowhite;
    padding: 7px;
    margin: 10px;
}

a {
    text-decoration: none;
    /* margin-left: auto; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: navajowhite;
    gap: 1em;
}

h1 {
    font-size: 4em;
    padding-left: 0.2em;
}

.home {
    font-size: 2em;
    padding-right: 0.5em;
    color: olive;
}